<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!--favicon 추가 부분-->
<link rel="icon" type="image/png" href="{{ '/assets/Images/favicon/favicon-96x96.png' | relative_url }}" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="{{ '/assets/Images/favicon/favicon.svg' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/Images/favicon/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/Images/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/Images/favicon/site.webmanifest' | relative_url }}">

<!-- MathJax -->
<!--MathJax 기능 추가 부분-->
<!--Mathjax 공식 사이트에서 아예 스니펫을 가져오는 방식도 있지만
    기본적으로 이렇게 custom에 정의해 놓는게 코어 파일 수정도 없고 테마 업데이트에도 안전하다고 한다-->
{% if page.mathjax or site.mathjax %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']],
      processEscapes: true
    },
    options: { skipHtmlTags: ['script','noscript','style','textarea','pre','code'] }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endif %}

<!-- end custom head snippets -->
