<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!--favicon 추가 부분-->
<link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="assets/images/favicon/favicon.svg" />
<link rel="shortcut icon" href="assets/images/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png" />
<link rel="manifest" href="assets/images/favicon/site.webmanifest" />

<!-- MathJax -->
<!--MathJax 기능 추가 부분-->
<!--Mathjax 공식 사이트에서 아예 스니펫을 가져오는 방식도 있지만
    기본적으로 이렇게 custom에 정의해 놓는게 코어 파일 수정도 없고 테마 업데이트에도 안전하다고 한다-->
{% if page.mathjax or site.mathjax %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']],
      processEscapes: true
    },
    options: { skipHtmlTags: ['script','noscript','style','textarea','pre','code'] }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endif %}

<!--Custom font-->
<!--커스텀 폰트 추가하는 부분-->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin> <!--이 부분 최적화라고 한다. 정확히 뭔 기능인지는 모르겠음-->
<style>
@font-face {
    font-family: 'GowunDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GyeonggiMillenniumBackground';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
</style>

<!-- end custom head snippets -->
