---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Custom Font 정의하는 부분
// 여기서 정의해놓으면 _variables.scss의 변수 정의가 덮어씌우지 않음
$monospace: Consolas, ui-monospace, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Lucida Console", "Courier New", monospace;
$sans-serif: "GowunDodum", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$serif: "GyeonggiMillenniumBackground", Georgia, Times, serif;
$font-custom: "GyeonggiMillenniumBackground";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom"; // 내 _custom.scss 파일 import 시키기
