/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #303446 !default;  // 블로그 배경 색상 (default : #252a34)
$text-color: #eaeaea !default;
$primary-color: #E5BA71 !default; // primary-color 색상 (뭐 여러데에 쓰이는 주요 색상 default : #00adb5)
$secondary-color: #CA9CE1 !default; // secondary-color 색상 (내 커스텀 색상)
$third-color: #A6D189 !default; // third-color 색상
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 20%) !default;
$link-color: mix(#4EC9B0, $text-color, 50%) !default;  // 링크 색상 (앞의 default : $primary-color)
$link-color-hover: mix(#fff, $link-color, 50%) !default;
$link-color-visited: mix(#4EC9B0, $link-color, 50%) !default;  // 방문한 링크 색상 (앞의 default : #000)
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
