/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $font-custom;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.3em 0 0.5em;  // 헤더(제목) 윗쪽 여백 크기 -> 라는데 적용해보니 Home 에서 게시물 제목 윗쪽 여백이 바뀜 (default : 2em 0 0.5em)
  line-height: 1.2;
  font-family: $font-custom;
  font-weight: bold;
}

h1 {
  color: mix(#ffffff, $primary-color, 30%);
  margin-top: 0;
  margin-bottom: 1em;
  font-size: $h-size-1m;
}

h2 {
  font-size: $h-size-2;
}

h3 {
  margin-bottom: 1em;
  font-size: $h-size-3;
}

h4 {
  font-size: $h-size-4;
}

h5 {
  font-size: $h-size-5;
}

h6 {
  font-size: $h-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.5em; // 문단 아래 여백 크기 (default 1.3em)
}

u,
ins {
  text-decoration: none;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 3.5px;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin-block: 2em;
  margin-inline-end: 1em;
  padding-inline: 1em;
  font-style: italic;
  border-inline-start: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &::before {
      content: "\2014";
      padding-inline-end: 5px;
    }
  }
}

/* links */

a {
  text-decoration: none;  // 하이퍼링크 같은 모든 링크에서 밑줄 제거하는 코드

  &:focus {
    @extend %tab-focus; // 키보드 접근으로 포거싱 되었을 때 스타일 확장
  }

  // 나는 방문/비방문 링크 똑같이 보이게 하고 싶으니까 이 부분 주석 처리함
  // &:visited {
  //   color: $link-color-visited; // 방문한 링크 색상 설정
  // }

  &:hover {
    color: $link-color-hover; // 호버링하고 있는 링크 색상 설정
    outline: 0; // 브라우저 기본 hover 아웃라인 제거
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1em;
  background: $code-background-color;
  color: $primary-color;
  border-radius: $border-radius;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
