/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
   Breadcrumb navigation links
   ========================================================================== */

.breadcrumbs {
  @include clearfix;
  margin: 0 auto;
  max-width: 100%;
  padding-inline: 1em;
  font-family: $sans-serif;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  ol {
    padding: 0;
    list-style: none;
    font-size: $type-size-6;

    @include breakpoint($large) {
      float: inline-end;
      width: calc(100% - #{$right-sidebar-width-narrow});
    }

    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
    }
  }

  li {
    display: inline;
  }

  .current {
    font-weight: bold;
  }
}

/*
     Post pagination navigation links
     ========================================================================== */

.pagination {
  @include clearfix();
  float: inline-start;
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: $sans-serif;
  }

  li {
    display: block;
    float: inline-start;
    margin-inline-start: -1px;

    a {
      display: block;
      margin-bottom: 0.25em;
      padding: 0.5em 1em;
      font-family: $sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      color: $muted-text-color;
      border: 1px solid mix(#000, $border-color, 25%);
      border-radius: 0;

      &:hover {
        color: $link-color-hover;
      }

      &.current,
      &.current.disabled {
        color: #fff;
        background: $primary-color;
      }

      &.disabled {
        color: rgba($muted-text-color, 0.5);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &:first-child {
      margin-inline-start: 0;

      a {
        border-start-start-radius: $border-radius;
        border-end-start-radius: $border-radius;
      }
    }

    &:last-child {
      a {
        border-start-end-radius: $border-radius;
        border-end-end-radius: $border-radius;
      }
    }
  }

  /* next/previous buttons */
  &--pager {
    display: block;
    padding: 1em 2em;
    float: inline-start;
    width: 50%;
    font-family: $sans-serif;
    font-size: $type-size-5;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: $muted-text-color;
    border: 1px solid mix(#000, $border-color, 25%);
    border-radius: $border-radius;

    &:hover {
      @include yiq-contrasted($muted-text-color);
    }

    &:first-child {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &:last-child {
      margin-inline-start: -1px;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    &.disabled {
      color: rgba($muted-text-color, 0.5);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $border-color;
}

/*
     Priority plus navigation
     ========================================================================== */

.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: $nav-height;
  background: $background-color;

  a {
    display: block;
    margin: 0 1rem;
    color: $masthead-link-color;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
      color: $masthead-link-color-hover;
    }

    &.site-logo {
      margin-inline-start: 0;
      margin-inline-end: 0.5rem;
    }

    &.site-title {
      margin-inline-start: 0;
    }
  }

  img {
    -webkit-transition: none;
    transition: none;
  }

  &__toggle {
    -ms-flex-item-align: center;
    align-self: center;
    height: $nav-toggle-height;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  .visible-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;

    li {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
    }

    a {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;
        height: 4px;
        background: $primary-color;
        width: 100%;
        -webkit-transition: $global-transition;
        transition: $global-transition;
        -webkit-transform: scaleX(0) translate3d(0, 0, 0);
        transform: scaleX(0) translate3d(0, 0, 0); // hide
      }

      &:hover:before {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); // reveal
      }
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    inset-inline-end: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    -webkit-box-shadow: 0 2px 4px 0 rgba(#000, 0.16),
      0 2px 10px 0 rgba(#000, 0.12);
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

    &.hidden {
      display: none;
    }

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;

      &:hover {
        color: $masthead-link-color-hover;
        background: $navicon-link-color-hover;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -11px;
      inset-inline-end: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $border-color transparent;
      display: block;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      inset-inline-end: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $background-color transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.no-js {
  .greedy-nav {
    .visible-links {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: visible;
    }
  }
}

/*
     Navigation list
     ========================================================================== */

.nav__list {
  margin-bottom: 1.5em;
  padding-bottom: 40px; // 2~3줄 올라올 정도로 원하는 값

  input[type="checkbox"],
  label {
    display: none;
  }

  @include breakpoint(max-width $large - 1px) {
    label {
      position: relative;
      display: inline-block;
      padding: 0.5em 2.5em 0.5em 1em;
      color: $gray;
      font-size: $type-size-6;
      font-weight: bold;
      border: 1px solid $light-gray;
      border-radius: $border-radius;
      z-index: 20;
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset-inline-end: 1em;
        top: 1.25em;
        width: 0.75em;
        height: 0.125em;
        line-height: 1;
        background-color: $gray;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
      }

      &:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      &:hover {
        color: #fff;
        border-color: $gray;
        background-color: mix(white, #000, 20%);

        &:before,
        &:after {
          background-color: #fff;
        }
      }
    }

    /* selected*/
    input:checked + label {
      color: white;
      background-color: mix(white, #000, 20%);

      &:before,
      &:after {
        background-color: #fff;
      }
    }

    /* on hover show expand*/
    label:hover:after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    input:checked + label:hover:after {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

    ul {
      margin-bottom: 1em;
    }

    a {
      display: block;
      padding: 0.25em 0;

      @include breakpoint($large) {
        padding-top: 0.125em;
        padding-bottom: 0.125em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// .nav__list .nav__items {
//   margin: 0;
//   font-size: 1.25rem;

//   a {
//     color: inherit;
//   }

//   .active {
//     margin-inline-start: -0.5em;
//     padding-inline: 0.5em;
//     font-weight: bold;
//   }

.nav__list .nav__items {
  margin: 0;
  font-size: 1.25rem;
  font-family: $sans-serif;

  img { // 방문자수 이미지 크기 맞추느라 추가했던 것
    width: auto; height: auto;
    max-width: 140px;
    max-height: 38px;
    margin-bottom: 1em;
  }

  a {
    color: inherit;
    font-size: $type-size-4;
    font-family: $sans-serif;
    color: mix(#fff,$primary-color,80%);

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
  }

  @include breakpoint(max-width $large - 1px) {
    position: relative;
    max-height: 0;
    opacity: 0%;
    overflow: hidden;
    z-index: 10;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }
}

@include breakpoint(max-width $large - 1px) {
  .nav__list input:checked ~ .nav__items {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    max-height: 9999px; /* exaggerate max-height to accommodate tall lists*/
    overflow: visible;
    opacity: 1;
    margin-top: 1em;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.nav__title {
  margin: 0;
  padding: 0.5rem 0.75rem;
  font-family: $sans-serif-narrow;
  font-size: $type-size-5;
  font-weight: bold;
}

.nav__sub-title {
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-4;
  font-weight: bold;
  color: mix(#fff,$primary-color,10%);
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
}

/*
     Table of contents navigation
     ========================================================================== */

.toc {
  font-family: $sans-serif-narrow;
  color: $gray;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  .nav__title {
    color: #fff;
    font-size: $type-size-5m;
    background: mix(#383C4D, $third-color, 25%);
    border-start-start-radius: $border-radius;
    border-start-end-radius: $border-radius;
  }

  // Scrollspy marks toc items as .active when they are in focus
  .active a {
    @include yiq-contrasted(#404455);
  }
}

.toc__menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: $type-size-5m;

  @include breakpoint($large) {
    font-size: $type-size-6;
  }

  a {
    display: block;
    padding: 0.25rem 0.75rem;
    color: $muted-text-color;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid $border-color;
  }

  li ul > li a {
    padding-inline-start: 1.25rem;
    font-weight: normal;
  }

  li ul li ul > li a {
    padding-inline-start: 1.75rem;
  }

  li ul li ul li ul > li a {
    padding-inline-start: 2.25rem;
  }

  li ul li ul li ul li ul > li a {
    padding-inline-start: 2.75rem;
  }

  li ul li ul li ul li ul li ul > li a {
    padding-inline-start: 3.25rem;
  }

  li a,
  li ul > li a,
  li ul li ul > li a,
  li ul li ul li ul > li a,
  li ul li ul li ul li ul > li a,
  li ul li ul li ul li ul li ul > li a {
    font-size: 0.75rem !important;    // 3 depth 이상
  }
}

//   #category_tag_menu > li:first-child {
//   font-size: 0.95em;   // 부모(0.9rem) 기준 비율
// }

/* ===========================================================
   Single post prev/next pagination (카드형, 좌우 배치)
   =========================================================== */

/* 위쪽 구분선 포함 전체 래퍼 */
.post-pagination-wrapper {
  margin-top: 2.5rem;
  padding-top: 5rem;
}

/* 이전/다음 카드 두 개를 좌우로 배치 */
.post-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

/* 카드 안 텍스트 영역(div) : 화살표와 제목 사이 공간을 담당 */
.post-pagination .pagination--pager > div {
  flex: 1 1 auto;        // 양쪽 화살표 사이에서 남는 공간 채우기
  min-width: 0;          // flex 안에서 ellipsis 동작하려면 필수
  display: flex;         // 세로 정렬용
  flex-direction: column;
}

/* 라벨(Prev / Next) 기본 스타일 */
.post-pagination .pagination__label {
  margin-bottom: 0.1rem;
  font-size: $type-size-7;
  color: $muted-text-color;
}

/* 실제 글 제목: 한 줄 + ... 처리 */
.post-pagination .pagination__title {
  display: block;
  width: 100%;               // 부모 div 전체 폭 사용
  margin-top: 0.05rem;
  white-space: nowrap;       // 한 줄만
  overflow: hidden;          // 넘치는 부분 숨기기
  text-overflow: ellipsis;   // ... 표시
  font-size: $type-size-5m;
}

/* 개별 카드 (이전글 / 다음글 공통) */
.post-pagination .pagination--pager {
  flex: 1;
  padding: 0.3rem 0.8rem;
  border-radius: 12px;

  background: rgba(255,255,255,0.04);
  border: 1px solid mix(#000, $border-color, 25%);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;          // 카드 밖으로 튀어나가는 것만 잘라줌

  font-family: $sans-serif;
  text-decoration: none;
  color: mix(#fff, $primary-color, 5%);

  transition: 0.2s ease;
}

.post-pagination .pagination--pager:hover {
  background: rgba(255,255,255,0.08);
  transform: translateY(-2px);
}

.post-pagination .pagination--pager.placeholder {
  background: transparent;
  border: none;
  box-shadow: none;
  pointer-events: none;
}

/* 동그란 화살표 아이콘 */
.post-pagination .pagination--pager.previous::before,
.post-pagination .pagination--pager.next::after {
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 2px solid $third-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: $third-color;
  flex-shrink: 0;
}

.post-pagination .pagination--pager.previous::before {
  content: "←";
  margin-right: 1rem;
}

.post-pagination .pagination--pager.next::after {
  content: "→";
  margin-left: 1rem;
}

/* 이전 포스트 카드: 왼쪽 정렬 */
.post-pagination .previous > div {
  align-items: flex-start;
  text-align: left;
}

/* 다음 포스트 카드: 오른쪽 정렬 */
.post-pagination .next > div {
  align-items: flex-end;
  text-align: right;
}

/* Prev 라벨을 왼쪽 끝에서 살짝 안쪽으로 */
.post-pagination .previous .pagination__label {
  margin-left: 0.5rem;
}

/* Next 라벨을 오른쪽 끝에서 살짝 안쪽으로 */
.post-pagination .next .pagination__label {
  margin-right: 0.5rem;
}

/* 모바일에서는 위아래로 쌓이게 */
@include breakpoint(max-width $large - 1px) {
  .post-pagination {
    flex-direction: column;
  }
}